.home-list-box {
  min-height: 60vh;
  max-height: 75vh;
  overflow-y: scroll;
  margin-top: 1rem;
}

.home-list-item {
  margin: 2rem auto !important;
  border: 2px solid #e87080 !important;
  padding: .2rem .5rem !important;
  border-radius: .5rem;
}